.cost__title{
    margin: 0 auto;
    padding-top: 46px;
    color:#2194FF;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    max-width: 1140px;
    text-align: center;
}