.header{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    position: relative;
}

@media (max-width: 1279px){
    .header{
      margin-left: 90px;
    }  
  }
  @media (max-width: 1023px){
    .header{
      margin-left: 50px;
    }  
  }